@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}


<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Register.css" rel="stylesheet" />
</head>

<div class="container mt-1">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Welcome!</h1>
            <p class="text-center">Join our community today!</p>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group">
                    <label asp-for="Input.Name" class="form-label">Name</label>
                    <input asp-for="Input.Name" class="form-control" autocomplete="Name" aria-required="true" placeholder="Enter your Name" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter your Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter your Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Re-enter your Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-check my-2 mb-3">
                    <input type="checkbox" class="form-check-input check-box" id="termsOfUse" required>
                    <label class="form-check-label" for="termsOfUse">I agree with <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></label>
                </div>

                <button id="registerSubmit" type="submit" class="btn btn-danger btn-block py-2 w-100">Register</button>

                <p class="mt-3 text-center">Already have an account? <a asp-page="./Login">Login</a></p>
            </form>

            <hr>

            <p class="text-center">Or</p>

            @{

                <form  id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="w-75 py-2 sign-in-with-google" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><span><img class="pe-2" src="~/google-logo.svg" alt="Google" /></span> Sign Up With @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }


        </div>
    </div>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

